@import "tailwindcss";

@theme {
    --font-sans: "Inter", sans-serif;
    --font-serif: "Merriweather", serif;
}

@layer base {
    body {
        @apply antialiased text-gray-900 bg-gray-50;
    }
}